<section class="about" id="about">
  <div class="container d-flex justify-content-between flex-column h-100">
    <div class="section-title flex-grow-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 data-aos="heading-show" class="text_background">
              Who Am I
              <span class="heading_background">About Me</span>
            </h2>
            <p class="m-0">Get to know me</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-content flex-grow-1">
      <div class="row align-items-center">
        <div class="col-md-8 mt-5 mt-md-0">
          <h3 class="m-0">I'm SYLLA SCHEICKNA IBRAHIM</h3>
          <p class="my-4">
            Student in Computer Science (Network &amp; Telecommunications) | Python Enthusiast | Future Network &amp; Software Innovator | Aspiring Cybersecurity Professional.
            <br><br>
            As a third-year Computer Science student at the Institut Ivoirien de Technologie, I am driven by a strong passion for network engineering, software development, and cybersecurity. I am constantly exploring how these fields connect to build secure, scalable, and efficient digital systems.
            <br><br>
            With a solid foundation in Python, hands-on exposure to networking technologies, and a deep curiosity for how systems operate behind the scenes, I am committed to growing into a highly skilled professional capable of designing and maintaining future-ready infrastructures.
            <br><br>
            I view technology not just as a field of study, but as a space for innovation, problem-solving, and long-term impact. I am eager to collaborate on meaningful projects, learn from experienced professionals, and contribute to solutions that truly make a difference.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Full Name:</span>
                <span>SYLLA SCHEICKNA IBRAHIM</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Field:</span>
                <span>Computer Science (Network &amp; Telecommunications)</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Location:</span>
                <span>Grand-Bassam, Côte d'Ivoire</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Email:</span>
                <span>hamahoullah.sylla@gmail.com</span>
              </div>
            </div>
          </div>
          <div class="button_and_social my-4">
            <div class="row justify-content-center align-items-center">
              <div class="col-xl-6">
                <a href="assets/SYLLA SCHEICKNA resume .pdf" class="btn btn-outline-primary btn-lg" download>
                  Download CV
                </a>
              </div>
              <div class="col-xl-6">
                <ul class="social-icons list-inline mt-4 mt-xl-0">
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/scheickna-ibrahim-sylla-50a916315?utm_source=share_via&utm_content=profile&utm_medium=member_android" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-pinterest-p"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/ibra-sy" target="_blank">
                      <i class="fab fa-git"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-tumblr"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
